{% extends 'base.html.twig' %}

{% block title %}Nos Vidéos
{% endblock %}

{% block body %}
	<ol class="breadcrumb">
		<li class="breadcrumb-item">
			<a href="{{path('homepage')}}">Home</a>
		</li>
		<li class="breadcrumb-item active">Toutes les réponses</li>
	</ol>

	<div class="container">
		<h1 class="my-3">Toutes nos vidéos</h1>

		<p>
			Trouvez toutes les réponses à vos questions sur de nombreux sujets et langages informatiques !
		</p>

		<div class="row"><br>
			{% for course in courses %}
				{% include 'course/_course.html.twig' %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
