{% extends 'base.html.twig' %}

{% block title %}Creer une annonce
{% endblock %}

{% form_theme form 'course/_collection.html.twig' %}

{% block body %}

	<div class="container my-5">

		<h1 class="h2 text-center">Creer un nouveau cours</h1><br>

		{{form_start(form)}}
		{{form_widget(form)}}

		<div class="container my-5 text-center">
			<button type="submit" class="btn btn-primary btn-lg">
				<i class="fas fa-check"></i>
				Creer un cours !
			</button>
		</div>

		{{form_end(form)}}


	</div>

{% endblock %}


{% block javascripts %}

	<script src="/js/script.js"></script>


{% endblock %}
