{% extends 'base.html.twig' %}

{% block title %}Modification de mot de passe
{% endblock %}

{% block body %}

	<div class="container">
		<div class="row">
			<div class="col-md-9 m-auto">
				<div class="bg-light py-3 px-3">

					<h1 class="my-3 text-center">Modifier mon mot de passe</h1><br>

					{{ form_start(form) }}
					{{ form_widget(form) }}
					<button type="submit" class="btn btn-primary float-right">
						<i class="fas fa-check"></i>
						Modifier le mot de passe
					</button>
					{{ form_end(form) }}

				</div>
			</div>
		</div>
	</div>


{% endblock %}
