{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur votre plateforme de réponses vidéos courtes et ciblées
{% endblock %}


{% block body %}

	<div class="jumbotron background-img">

		<h1 class="display-3">Open Free Learns</h1>
		<p class="lead">Trouvez des réponses vidéos ciblées à toutes vos questions !</p>

		<hr class="my-4">
		<p class="lead">Vous avez une question ?
		</p><br>

		<p class="lead">
			<a class="btn btn-info btn-lg mt" href="{{path('courses_index')}}" role="button">Voir nos réponses !</a>
		</p>

	</div>

	<div class="container">

		<h2 class="h1 my-4">Vidéos les plus populaires</h2>

		<div class="row ">

			{% for data in courses %}
				{% include 'course/_course.html.twig' with {'course': data.course} %}
			{% endfor %}

		</div>
		<br>
	</div>


{% endblock %}
