{% extends 'base.html.twig' %}

{% block title %}
	Bienvenue sur votre plateforme de réponses vidéos courtes et ciblées
{% endblock %}


{% block body %}

	<div class="jumbotron style=" style="background-color : #DCDCDC !important;">

		<h1 class="display-3">Open Free Learns</h1>
		<p class="lead">Trouvez des réponses vidéos ciblées à toutes vos questions !</p>

		<hr class="my-4">
		<p class="lead">Vous avez une question ?
		</p><br>

		<p class="lead">
			<a class="btn btn-info btn-lg mt" href="{{path('courses_index')}}" role="button">Voir nos réponses !</a>
		</p>

	</div>

	<div class="container mb-10">

		<h2 class="h1 my-5">Vidéos les plus populaires</h2>

		<div class="row ">


			<div class="col-md-4">

				<div class="card border-dark mb-3" style="max-width: 20rem;">
					<div class="card-header text-center">
						<small>Pas encore noté</small>
					</div>
					<img src="./image/symfony.jpeg" style="height: 150px; width: 100%; display: flex;" alt="card image"/>

					<div class="card-body">
						<h4 class="card-title text-center">
							<a href="#">Card title</a>
						</h4>

						<p class="card-text">Some quick example text to build on the card.</p>

					</div>
				</div>

			</div>

			<div class="col-md-4">

				<div class="card border-dark mb-3" style="max-width: 20rem;">
					<div class="card-header text-center">
						<small>Pas encore noté</small>
					</div>
					<img src="./image/python.png" style="height: 150px; width: 100%; display: flex;" alt="card image"/>


					<div class="card-body">
						<h4 class="card-title text-center">
							<a href="#">Card title</a>
						</h4>

						<p class="card-text">Some quick example text to build on the card.</p>

					</div>
				</div>

			</div>


			<div class="col-md-4">

				<div class="card border-dark mb-3" style="max-width: 20rem;">
					<div class="card-header text-center">
						<small>Pas encore noté</small>
					</div>

					<img src="./image/php.jpeg" style="height: 150px; width: 100%; display: flex;" alt="card image"/>


					<div class="card-body">
						<h4 class="card-title text-center">
							<a href="#">Card title</a>
						</h4>

						<p class="card-text">Some quick example text to build on the card.</p>
					</div>
				</div>

			</div>

		</div>
		<br>


	</div>


{% endblock %}
